body {
  background-image:url(http://eskipaper.com/images/tumblr-backgrounds-9.jpg);color:white;
}
img {
  margin-top: 1rem;position;relativeh1
{
}
}
h1 {color:white;font-family: 'Patua One', cursive;text-align: Center;font-size: 2.5rem}

h2 {text-align: center;

}
header {background-color:midnightblue;
  color:white;
  text-align:left;
padding-top:1rem; padding-top: 1rem; margin-bottom: 1.5rem;background:linear-gradient(90deg, #511a1a, #174a1d); content:5rem 5rem 5rem 5rem; border: 10rem 5rem 10rem 5rem;}

.nav {boarder:1px solid #ccc;
  border-width: 1px 0;
  text-align: center;}
.nav li{

  display:inline;
}
.nav a {
  display:inline-block;padding: 10px;
}
